.Header {
  display: flex;
  align-items: center;
  background-color: $light;
  h3 {
    a {
      color: $dark;
    }
  }
  &__logo {
    width: 40px;
    margin-right: 16px;
  }

  @media (max-width: 640px) {
    &__logo {
      display: none;
    }
  }
}
