@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./mixins.scss";


$heading-font: "Raleway", serif;
$body-font: "Cabin", sans-serif;

$green: #003307;
$yellow: #FFB72E;
$brown: #B2782F;
$blue: #5399FF;
$lilac: #98B4F5;
