@import url("https://fonts.googleapis.com/css?family=Signika|Open+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./mixins.scss";

$heading-font: "Signika", serif;
$body-font: "Open Sans", sans-serif;

$color1: #26628a;
$color2: #f15942;
$light: #ffffff;
$dark: #3f404a;
