@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway');


$heading-font: "Raleway", serif;
$body-font: "Cabin", sans-serif;

$green: #003307;
$yellow: #FFB72E;
$brown: #B2782F;
$blue: #5399FF;
$lilac: #98B4F5;
