body {
  background-color: rgba(0,0,0,.2);
  background: url("https://images.unsplash.com/photo-1477064200359-f0f9f7e3a9e8") no-repeat center center fixed;
  background-size: 100% 100%;
}

body, ul, form, input {
  font-family: $body-font;
  font-size: 16px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

p {
  line-height: 1.5em;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $color2;
  &:hover, &:focus {
    border-bottom: 1px solid $color2;
  }
}

input {
  &[type="submit"] {
    width: 100%;
    background-color: $color2;
    color: $light;
    transition: background-color 300ms;
    padding: 8px;
    border: none;

    &:hover, &:focus {
      cursor: pointer;
      transition: background-color 300ms;
      background-color: $color1;
    }
  }
}
