.podcast {
  background-color: rgba(0,0,0,.8);
  max-width: 1000px;
  margin: 1% auto;
  padding-bottom: 5em;
  text-align: center;
  p {
    color: #fff;
    padding: 5%;
    text-align: left;
  }
  iframe {
    width: 99%;
    background-image: url("./public/loading.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20%;
  }
  @media (max-width: 640px) {
    width: 99%;
  }
}
