.Legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 32px;
  }
  ul {
    li {
      margin: 8px 0;
      img[alt="flag"] {
        transition: 300ms;
        &:hover,
        &:focus {
          transition: transform 300ms;
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}
