.legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px dotted $yellow;
  color: $green;
  img {
    width: 7%;
  }
  h4 {
    margin: 2%;
  }
  ul {
    margin: 2%;
    li {
      margin: 10px 0;
      &:nth-of-type(3) {
        span {
          color: #FB7064;
        }
      }
      img[alt="flag"] {
        transition: 300ms;
        &:hover, &:focus {
          transition: 300ms;
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 640px) {
    h4 {
      font-size: 1em;
      width: 100%;
    }
    ul {
      width: 100%;
      li {
        font-size: .5em;
        margin-left: 2%;
        &:nth-of-type(3) {
          span {
            color: #FB7064;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}
