.landing{
  width: 100%;
  .logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 3% auto;
    width: 100%;
    a {
      width: 200px;
      margin: 0 5px;
      img {
        width: 100%;
        background-color: rgba(256,256,256,.7);
        border-radius: 5px;
        &:hover, &:focus {
          background-color: rgba(256,256,256,.8);
          background-color: rgba(152,180,245, .6);
        }
      }
    }
  }
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 640px) {
    .logos {
      background-color: rgba(250, 250, 250, .5);
      width: 100%;
      flex-direction: column;
    }

    .video {
      iframe {
        margin: 10px 0;
        width: 100%;
      }
    }
  }
}
