.landing{
  width: 100%;
  article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 3% auto;
    width: 100%;
    a {
      width: 200px;
      margin: 0 5px;
      img {
        width: 100%;
        &:hover, &:focus {
          background-color: rgba(0,0,0,.2);
        }
      }
    }
  }

  @media (max-width: 640px) {
    article {
      background-color: rgba(250, 250, 250, .5);
      width: 100%;
      flex-direction: column;
    }
  }
}
