.header {
  display: inline-flex;
  width: 30%;
  justify-content: center;
  border: 1px solid $green;
  border-top: none;
  align-items: center;
  background-color: #FFF;
  h2 {
    a {
      color: $green;
      font-size: 2em;
    }
  }
  .header-logo {
    width: 8%;
    padding: 0 10px;
  }

  @media (max-width: 640px) {
    display: flex;
    width: 100%;
    justify-content: center;
    h2 {
      font-size: .8em;
      text-align: center;
    }
    .header-logo {
      width: 6%;
      padding: 0 5px;
    }
  }
}
