article.about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  section {
    width: 60%;
    color: #fff;
    display: flex;
    padding: 1%;
    margin: 0 auto;
    justify-content: space-between;
    h2 {
      flex: 1;
      display: flex;
      align-items: center;
      background: rgba(0,0,0,.7);
      justify-content: center;
    }
    p {
      flex: 4;
      padding: 2%;
      line-height: 25px;
    }
    &:nth-child(odd) {
      h2 {
        margin-right: 10%;
      }
    }
    &:nth-child(even) {
      h2 {
        margin-left: 10%;
        order: 2;
      }
      p {
        order: 1;
      }
    }
    &.who {
      p {
        background-color: $blue;
      }
    }
    &.what {
      p {
        background-color: $yellow;
      }
    }
    &.where {
      p {
        background-color: $lilac;
      }
    }
    &.why {
      p {
        background-color: $brown;
      }
    }
  }
  @media (max-width: 640px) {
    margin: 0;
    padding: 0;
    section {
      &.who, &.what, &.where, &.why {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        h2 {
          margin: 0;
          justify-content: flex-end;
          padding: 2% 1%;
          order: 1
        }
        p {
          order: 2;
          padding: 5px;
        }
      }
    }
  }
}

