.About {
  &__wrapper {
    width: 100%;
    height: 100%;
    @include scroll;
    animation: fadeIn 500ms;
  }
  display: flex;
  flex-direction: column;
  section {
    width: 90%;
    max-width: 1000px;
    color: $light;
    display: flex;
    margin: 16px auto;
    justify-content: space-between;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    h2 {
      padding: 16px;
      flex: 1;
      display: flex;
      align-items: center;
      background-color: $color1;
      justify-content: center;
      @include boxShadow;
    }
    p {
      @include boxShadow;
      background-color: $light;
      color: $dark;
      flex: 4;
      padding: 16px;
    }
    &:nth-child(odd) {
      h2 {
        margin-right: 32px;
      }
    }
    &:nth-child(even) {
      h2 {
        margin-left: 32px;
        order: 2;
      }
      p {
        order: 1;
      }
    }
  }
  @media (max-width: 640px) {
    padding: 0;
    section {
      &.who, &.what, &.where, &.why {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        h2 {
          margin: 0;
          justify-content: flex-end;
          padding: 16px 8px;
          order: 1
        }
        p {
          order: 2;
          padding: 8px;
        }
      }
    }
  }
}
