.contact-form {
  width: 100%;
  form {
    display: flex;
    border: 2px dashed $yellow;
    flex-flow: column nowrap;
    padding: 10px;
    width: 50%;
    margin: 1% auto;
    textarea, input {
      font-size: 1em;
      width: 95%;
      margin: 1% auto;
    }
    textarea {
      resize: none;
      height: 4em;
    }
    input {
      &[type="submit"] {
        width: 25%;
        align-self: center;
        border: none;
        background-color: $lilac;
        color: white;
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
  p {
    text-align: center;
    margin: 1% auto;
    color: #fff;
  }
  @media (max-width: 640px) {
    width: 100%;
    form {
      width: 90%;
      input, textarea {
        border: 1px solid #bbb;
      }
    }
  }
}
