.Info {
  border-top: 4px $color1 solid;
  margin: 8px 0;

  h4 {
    text-align: center;
    margin: 8px 0 !important;
    span {
      text-decoration: underline;
    }
  }

  p {
    &:nth-of-type(2) {
      text-align: center;
    }
  }
}
