.info {
  background: $yellow;
  color: #fff;
  font-size: 1.1em;
  padding: 5px;
  text-align: left;
  p {
    &:nth-of-type(2) {
      font-size: 1.5em;
      text-align: center;
      margin: 10px 0;
      span {
        text-decoration: underline;
      }
    }
    &:nth-of-type(3) {
      text-align: center;
    }
  }
}
