@import "../stylesheets/base.scss";
@import "./SideWrapper/Info/info.scss";
@import "./SideWrapper/Legend/legend.scss";
@import "./SuggestionMapWrapper/suggestion_map_wrapper.scss";
@import "./SideWrapper/SuggestionForm/suggestion_form.scss";
@import "./SideWrapper/SuggestionInfo/suggestion_info.scss";
@import "./SideWrapper/Filters/Checkbox/checkbox.scss";
@import "./SuggestionMapWrapper/SuggestionMap/suggestion_map.scss";

.Map {
  margin: {
    left: auto;
    right: auto;
  }
  @include boxShadow;
  animation: fadeIn 500ms;

  height: 100%;
  background-color: $light;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
  .SideWrapper {
    width: 40%;
    height: 100%;
    @include scroll;
    padding: 8px;
    box-sizing: border-box;

    section {
      display: flex;
      flex-direction: column;
      > article {
        margin: 16px 0;
        &:first-of-type {
          margin-top: 0;
        }
      }

      p {
        margin: 8px 0;
      }
    }
  }
  .helper {
    display: none;
  }

  @media (max-width: 640px) {
    width: 100%;
    .SideWrapper {
      position: absolute;
      z-index: 1;
      right: 0;
      transition: 300ms;
      width: 100%;
      @include scroll;
    }
    .hidden {
      opacity: 0;
      z-index: -2;
    }
    .visible {
      opacity: 0.9;
      background-color: #fff;
    }
    .helper {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 5px;
      color: $light;
      z-index: 2;
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
    .side {
      transition: 300ms;
      &.closed {
        color: $color1;
        background-color: $light;
      }
      &.open {
        background-color: $color1;
      }
      top: 100px;
      right: 12px;
    }
  }
}
