@import "./ContactForm/contact_form.scss";

.Contact {
  @include contentContainer;
  display: flex;
  flex-direction: column;
  h3,
  section {
    margin-bottom: 32px;
  }
  @media (max-width: 640px) {
    height: 100%;
    section {
      p {
      }
    }
  }
}
