article.nav {
  background-color: $green;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    margin: 20px auto;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    li {
      a {
        color: #fff;
        transition: 300ms;
        &:hover, &:focus, &.active {
          transition: 300ms;
          color: $yellow;
        }
      }
    }
  }
  @media (max-width: 640px) {
    width: 100%;
    flex-direction: row nowrap;
    ul {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 auto;
      li {
        padding: 5px 0;
      }
    }
  }
}
