@import url("https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans");
body, ul {
  font-family: "Josefin Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", serif; }

a {
  text-decoration: none;
  color: #5399FF; }
  a:hover {
    font-weight: bold;
    color: #FFB72E; }

.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF; }
  .header h2 a {
    color: #003307;
    font-size: 3em; }
  .header .header-logo {
    height: 80px;
    padding: 10px 20px; }

article.nav {
  background-color: #003307; }
  article.nav ul {
    margin: 20px auto;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em; }
    article.nav ul li a {
      color: #fff; }
      article.nav ul li a:hover {
        color: #FFB72E; }

article.about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: url("https://images.unsplash.com/photo-1477064200359-f0f9f7e3a9e8") no-repeat center center fixed;
  height: 60em; }
  article.about section {
    width: 90%;
    color: #fff;
    display: inline-flex;
    padding: 10px;
    margin: 0 auto; }
    article.about section h3 {
      flex: 1;
      font-size: 2em;
      display: flex;
      align-items: flex-end;
      color: #fff;
      background: rgba(0, 0, 0, 0.7); }
    article.about section p {
      flex: 2;
      padding: 25px; }
    article.about section.who h3 {
      justify-content: flex-end;
      padding-right: 1%; }
    article.about section.who p {
      background-color: #5399FF; }
    article.about section.what {
      display: inline-flex;
      padding: 10px; }
      article.about section.what h3 {
        order: 2;
        justify-content: flex-start;
        padding-left: 1%; }
      article.about section.what p {
        flex: 2;
        order: 1;
        background-color: #FFB72E;
        color: #fff;
        padding: 25px; }
    article.about section.where h3 {
      justify-content: flex-end;
      padding-right: 1%; }
    article.about section.where p {
      background-color: #98B4F5; }
    article.about section.why {
      display: inline-flex;
      padding: 10px; }
      article.about section.why h3 {
        order: 2;
        justify-content: flex-start;
        padding-left: 1%; }
      article.about section.why p {
        flex: 2;
        order: 1;
        background-color: #B2782F;
        color: #fff;
        padding: 25px; }
