/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cabin|Raleway");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, ul {
  font-family: "Cabin", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", serif; }

p {
  line-height: 1.2em; }

a {
  text-decoration: none;
  color: #5399FF; }
  a:hover {
    font-weight: bold;
    color: #FFB72E; }

.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF; }
  .header h2 a {
    color: #003307;
    font-size: 3em; }
  .header .header-logo {
    height: 80px;
    padding: 10px 20px; }
  @media (max-width: 640px) {
    .header {
      display: flex;
      flex-flow: column nowrap; }
      .header h2 {
        order: 1;
        font-size: .8em;
        text-align: center; }
      .header .header-logo {
        order: 2;
        height: 100px; }
        .header .header-logo:last-child {
          display: none; } }

article.nav {
  background-color: #003307; }
  article.nav ul {
    margin: 20px auto;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em; }
    article.nav ul li a {
      color: #fff; }
      article.nav ul li a:hover, article.nav ul li a.active {
        color: #FFB72E; }
  @media (max-width: 640px) {
    article.nav ul {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 auto; }
      article.nav ul li {
        padding: 5px 0;
        width: 100%; }
        article.nav ul li:nth-child(even) {
          background: rgba(0, 0, 0, 0.2); } }

article.about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: url("https://images.unsplash.com/photo-1477064200359-f0f9f7e3a9e8") no-repeat center center fixed; }
  article.about section {
    width: 60%;
    color: #fff;
    display: inline-flex;
    height: auto;
    padding: 10px;
    margin: 0 auto; }
    article.about section h3 {
      flex: 1;
      font-size: 4em;
      display: flex;
      align-items: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.7); }
    article.about section p {
      flex: 2;
      padding: 25px;
      font-size: 1.2em; }
    article.about section.who h3 {
      justify-content: flex-end;
      padding-right: 1%; }
    article.about section.who p {
      background-color: #5399FF; }
    article.about section.what {
      display: inline-flex;
      padding: 10px; }
      article.about section.what h3 {
        order: 2;
        justify-content: flex-start;
        padding-left: 1%; }
      article.about section.what p {
        flex: 2;
        order: 1;
        background-color: #FFB72E;
        color: #fff;
        padding: 25px; }
    article.about section.where h3 {
      justify-content: flex-end;
      padding-right: 1%; }
    article.about section.where p {
      background-color: #98B4F5; }
    article.about section.why {
      display: inline-flex;
      padding: 10px; }
      article.about section.why h3 {
        order: 2;
        justify-content: flex-start;
        padding-left: 1%; }
      article.about section.why p {
        flex: 2;
        order: 1;
        background-color: #B2782F;
        color: #fff;
        padding: 25px; }
  @media (max-width: 640px) {
    article.about {
      margin: 0;
      padding: 0;
      height: auto; }
      article.about section.who, article.about section.what, article.about section.where, article.about section.why {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        justify-content: space-between;
        width: 100%;
        padding: 0; }
        article.about section.who h3, article.about section.what h3, article.about section.where h3, article.about section.why h3 {
          font-size: 1.5em;
          justify-content: flex-end;
          font-weight: bold;
          padding: 5px;
          order: 1; }
        article.about section.who p, article.about section.what p, article.about section.where p, article.about section.why p {
          order: 2;
          padding: 5px; } }

article.home {
  background: url(../spoken-logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 60em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end; }
  article.home img {
    width: 393px;
    margin-left: 4%;
    margin-bottom: -3%; }
  article.home .content {
    background-image: url("https://img.clipartfest.com/d5f409b679ed4ce83abf0fa634cd2d41_png-small-medium-large-large-arrow-clip-art_600-257.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 5em;
    font-size: 2.5em;
    margin-left: 5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    article.home .content a {
      margin-left: 4%;
      display: block; }
  @media (max-width: 640px) {
    article.home {
      min-height: 30em;
      background-position: 89%;
      justify-content: flex-end; }
      article.home img {
        display: none; }
      article.home .content {
        background: none;
        margin-bottom: -44%;
        margin-left: 0; }
        article.home .content a {
          text-align: center;
          margin: 0; } }

article.embedded-map {
  display: flex;
  flex-flow: row wrap; }
  article.embedded-map h3 {
    width: 100%;
    font-size: 3em;
    margin-left: 18%;
    color: #FFB72E;
    text-shadow: 1px 1px #003307; }
  article.embedded-map iframe {
    width: 60%;
    height: 49em; }
  article.embedded-map section {
    width: 40%;
    display: column; }
    article.embedded-map section .legend {
      border: 1px dotted #FFB72E; }
      article.embedded-map section .legend h4 {
        font-size: 1.8em;
        text-align: center; }
      article.embedded-map section .legend ul {
        margin: 5% auto;
        width: 80%; }
        article.embedded-map section .legend ul li {
          font-size: 1.3em;
          margin: 10px 0; }
    article.embedded-map section .info {
      background: #FFB72E;
      color: #fff;
      margin: 2% 0;
      font-size: 1.1em;
      padding: 5px;
      text-align: center; }
      article.embedded-map section .info p:nth-of-type(2) {
        font-size: 1.5em;
        text-align: center;
        margin: 10px 0; }
        article.embedded-map section .info p:nth-of-type(2) span {
          text-decoration: underline; }
    article.embedded-map section .pin-form {
      background: #B2782F;
      color: #fff;
      padding: 5px;
      margin: 5% 0; }
      article.embedded-map section .pin-form h4 {
        font-size: 2em;
        text-align: center; }
      article.embedded-map section .pin-form p {
        font-style: italic; }
  @media (max-width: 640px) {
    article.embedded-map h3 {
      font-size: 2em;
      margin-left: 25%; }
    article.embedded-map iframe {
      width: 70%;
      height: 34em; }
    article.embedded-map section {
      width: 30%; }
      article.embedded-map section .legend h4 {
        font-size: 1.3em; }
      article.embedded-map section .legend ul {
        margin: 0; }
        article.embedded-map section .legend ul li {
          font-size: .5em; }
      article.embedded-map section .info {
        font-size: .7em;
        padding: 1px;
        line-height: 1.5em; }
        article.embedded-map section .info p:nth-of-type(3) {
          font-size: .5em; }
      article.embedded-map section .pin-form {
        padding: 1px; }
        article.embedded-map section .pin-form h4 {
          font-size: 1em; }
        article.embedded-map section .pin-form p {
          font-size: .5em; } }

.instagram {
  display: flex;
  flex-direction: column; }
  .instagram a {
    display: flex;
    align-items: center;
    align-self: flex-end; }
    .instagram a img {
      width: 50px; }
  .instagram .photos {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: scroll; }
    .instagram .photos div {
      margin: 5% auto;
      width: 80%;
      justify-content: center;
      display: flex;
      align-items: center; }
      .instagram .photos div:nth-child(even) a {
        order: 2; }
      .instagram .photos div:nth-child(even) section {
        order: 1; }
      .instagram .photos div:nth-child(odd) a {
        order: 1; }
      .instagram .photos div:nth-child(odd) section {
        order: 2; }
      .instagram .photos div a img {
        width: 100%;
        max-width: 640px;
        border: thin solid black; }
      .instagram .photos div section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch; }
        .instagram .photos div section p {
          font-size: 1.3em;
          margin: 5%; }
          .instagram .photos div section p:last-of-type {
            font-size: 1em;
            color: #FFB72E;
            text-shadow: none; }
  @media (max-width: 640px) {
    .instagram .photos {
      width: 100%; }
      .instagram .photos div {
        flex-direction: column; }
        .instagram .photos div a {
          order: 1; }
          .instagram .photos div a img {
            width: 100%; }
        .instagram .photos div section {
          order: 2; }
          .instagram .photos div section p {
            text-align: center;
            padding: 1px; } }

.contact h3 {
  margin: 20px;
  text-align: center;
  font-size: 3em; }

.contact p {
  margin: 5%;
  text-align: right;
  font-size: 2.3em; }

@media (max-width: 640px) {
  .contact {
    margin: 5px; }
    .contact h3 {
      margin: 5px 0;
      font-size: 2.0em; }
    .contact p {
      margin: 5% 0;
      font-size: 1em; } }
