.suggestion-info {
  border: 1px dotted $yellow;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  h4, p, section {
    margin: 2% 1%;
  }
  .text {
    width: 100%;
    p {
      margin: 1% 0;
      span {
        font-weight: bold;
        color: $brown;
      }
    }
  }
  @media (max-width: 640px) {
    font-size: .5em;
  }
}
