.suggestion-form {
  width: 99%;
  background: rgba(0,0,0,.1);
  border: 2px dotted $yellow;
  color: $green;
  padding: 5px 0;
  h4 {
    text-align: center;
  }
  p {
    font-style: italic;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    margin: 0 auto;
    textarea, input, select {
      margin: 3% 0;
      width: 95;
      font-size: 1.2em;
      border: none;
      font-family: $body-font;
    }
    textarea {
      resize: none;
      height: 4em;
    }
    input {
      &[type="submit"] {
        width: 25%;
        align-self: center;
        background-color: $lilac;
        color: white;
        &:hover, &:focus {
          background-color: $blue;
        }
      }
    }
  }
  p {
    text-align: center;
    width: 100%;
  }
  @media (max-width: 640px) {
    width: 100%;
    font-size: 16px;
    h4 {
      font-size: 1em;
    }
    input, textarea, select {
      font-size: .5em;
    }
    p {
      font-size: .9em;
    }
    form {
      font-size: .5em;
      width: 90%;
      input, textarea {
        border: 1px solid #aaa;
      }
      input {
        &[type="submit"] {
          width: 100%;
        }
      }
    }
  }
}

