.Checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  >article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    article {
      margin: 8px 0;
      width: 50%;
      display: flex;
      align-items: center;
      label {
        width: 100%;
        &:hover, &:focus {
          color: $color2;
          cursor: pointer;
        }
      }
    }
  }
}

