.checkboxes {
  display: flex;
  flex-direction: column;
  @include map-info-border;
  padding: 0 1%;
  justify-content: space-between;
  >article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    article {
      font-size: 1.5em;
      margin: 10px 0;
      width: 50%;
      display: flex;
      align-items: center;
      label {
        &:hover, &:focus {
          cursor: pointer;
        }
      }
    }
  }
}

