.contact {
  max-width: 1000px;
  margin: 1% auto;
  background-color: white;
  height: 60em;
  h3 {
    text-align: center;
    background-color: $lilac;
    color: #fff;
    font-size: 3em;
    padding: 1% 0;
  }
  p {
    margin: 5%;
    text-align: right;
    font-size: 1.6em;
  }
  @media (max-width: 640px) {
    margin: 5px;
    h3 {
      margin: 5px 0;
      font-size: 2.0em;
    }
    p {
      margin: 5% 0;
      font-size: 1em;
    }
  }
}
