article.home {
  background-image: url(../spoken-logo.jpg);
  // background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  min-height: 1000px;
  .content {
    font-size: 2.5em;
    padding-top: 39%;
    padding-left: 16%;
  }
  @media (max-width: 640px) {

  }
}
