.instagram {
  background-color: #fff;
  max-width: 1000px;
  margin: 1% auto;
  padding-bottom: 20em;
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    align-items: center;
    align-self: flex-end;
    img {
      width: 50px;
    }
  }
  .photos {
    h3 {
      text-align: center;
      font-size: 2em;
    }
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    div {
      margin: 5% auto;
      width: 90%;
      justify-content: center;
      display: flex;
      align-items: center;
      &:nth-child(odd) {
        border: 1px solid #000;
       a {
         order: 2
       }
       section {
        order: 1
       }
      }
      &:nth-child(even) {
        background-color: rgb(0,0,0);
        color: white;
        a {
          order: 1;
        }
        section {
          order: 2;
        }
      }
      a {
        img {
          width: 100%;
          max-width: 640px;
          border: thin solid black;
        }
      }
      section {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        p {
          font-size: 1.8em;
          margin: 5%;
          &:last-of-type {
            font-size: 1em;
            color: $yellow;
            text-shadow: none;
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    .photos {
      width: 100%;
      div {
        flex-direction: column;
        a {
          order: 1;
          img {
            width: 100%;
          }
        }
        section {
          order: 2;
          width: 100%;
          p {
            font-size: 1.3em;
            text-align: center;
            padding: 1px;
          }
        }
      }
    }
  }
}
