.podcast {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  p {
    background-color: $blue;
    color: #fff;
    text-align: center;
    font-size: 3em;
    margin-bottom: 10%;
    margin-top: 5%;
  }
  @media (max-width: 640px) {
    width: 99%;
  }
}
