.suggestion-form {
  width: 99%;
  form {
    display: flex;
    flex-flow: column nowrap;
    width: 95%;
    margin: 0 auto;
    textarea, input, select {
      margin: 3% 0;
      width: 95;
      font-size: 1.2em;
      border: none;
      font-family: $body-font;
    }
    textarea {
      resize: none;
      height: 4em;
    }
    input {
      &[type="submit"] {
        width: 25%;
        align-self: center;
        // border: none;
        background-color: $lilac;
        border-radius: 5px;
        color: white;
        &:hover, &:focus {
          background-color: $blue;
        }
      }
    }
  }
  p {
    text-align: center;
    width: 100%;
  }
  @media (max-width: 640px) {
    width: 100%;
    form {
      width: 90%;
      input, textarea {
        border: 1px solid #aaa;
      }
      input {
        &[type="submit"] {
          width: 100%;
        }
      }
    }
  }
}

