article.about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: url("../spoken-logo.jpg") no-repeat center center fixed;
  section {
    width: 90%;
    color: #fff;
    display: inline-flex;
    padding: 10px;
    // margin: 0 auto;
    h3 {
      flex: 1;
      font-size: 2em;
      display: flex;
      align-items: flex-end;
      color: #fff;;
      background: rgba(0,0,0,.7);
    }
    p {
      flex: 2;
      padding: 25px;
    }
    &.who {
      h3 {
        justify-content: flex-end;
        padding-right: 1%;
      }
      p {
        background-color: $blue;
      }
    }
    &.what {
      display: inline-flex;
      padding: 10px;
      h3 {
        order: 2;
        justify-content: flex-start;
        padding-left: 1%;
      }
      p {
        flex: 2;
        order: 1;
        background-color: $yellow;
        color: #fff;
        padding: 25px;
      }
    }
    &.where {
      h3 {
        justify-content: flex-end;
        padding-right: 1%;
      }
      p {
        background-color: $lilac;
      }
    }
    &.why {
      display: inline-flex;
      padding: 10px;
      h3 {
        order: 2;
        justify-content: flex-start;
        padding-left: 1%;
      }
      p {
        flex: 2;
        order: 1;
        background-color: $brown;
        color: #fff;
        padding: 25px;
      }
    }
  }
}
