.SuggestionForm {
  background: rgba(0, 0, 0, 0.1);
  margin: 0 -8px -8px;
  padding: 8px;
  h4 {
    margin-bottom: 8px;
  }
  p {
    font-style: italic;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    textarea,
    input,
    select {
      margin: 8px 0;
      border: none;
      font-family: $body-font;
    }
    textarea {
      resize: none;
      height: 64px;
    }
  }
  p {
    text-align: center;
    width: 100%;
  }
}
